<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<h1 id="gameover">You have killed: </h1>
<h1 class="counter-display">0</h1>

<div id="divCheckbox" style="visibility: hidden; display:none;">
    <p th:text="${keys[0]}" id="takkar0"></p>
    <p th:text="${keys[1]}" id="takkar1"></p>
    <p th:text="${keys[2]}" id="takkar2"></p>
    <p th:text="${keys[3]}" id="takkar3"></p>
    <p th:text="${keys[4]}" id="takkar4" ></p>
</div>

<form action="#" th:action="@{/upload}" th:object="${Last5Games}" method="post">
    <input type="hidden" id="upload" value="Upload">
    <input type="hidden" class="counter-display" name="score" id="score" th:value="0"/>
</form>
<form action="#" th:action="@{/main}" method="get">
    <input type="submit" value="Home"/>
</form>
<form action="#" th:action="@{/game}" method="get">
    <input type="submit" value="Restart"/>
</form>

<script id="vertex-shader" type="x-shader/x-vertex">

attribute vec4 vPosition;
attribute vec4 vColor;

varying vec4 fColor;

void
main()
{
    gl_Position = vPosition;
    fColor = vColor;
}
</script>

<script id="fragment-shader" type="x-shader/x-fragment">

precision mediump float;

varying vec4 fColor;
void
main()
{
    gl_FragColor = fColor;
}
</script>

<script type="text/javascript" src="/js/webgl-utils.js"></script>
<script type="text/javascript" src="/js/initShaders.js"></script>
<script type="text/javascript" src="/js/MV.js"></script>
<script type="text/javascript" src="/js/verkefni1.js"></script>


<body>

<canvas id="gl-canvas" width="1000" height="600">>
    Oops ... your browser doesn't support the HTML5 canvas element
</canvas>
</body>
</html>