<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>History</title>
        <style>
            body    {background-color: powderblue;}
        </style>
        <script>
            //Get last5Games to work, says it is undefined
            var last5Games = [[${last5Games}]];

            function updateLists() {
                for(let i = 0; i<last5Games.length;i++) {
                    var y = document.createElement("LI");
                    y.append(last5Games[i]);
                    document.getElementById("gameList").append(y);
                }
            }
        </script>
    </head>
    <body>
    <div id="divCheckbox">
        <p th:text="${last5Games[0]}" id="takkar0"></p>
        <p th:text="${last5Games[1]}" id="takkar1"></p>
        <p th:text="${last5Games[2]}" id="takkar2"></p>
        <p th:text="${last5Games[3]}" id="takkar3"></p>
        <p th:text="${last5Games[4]}" id="takkar4" ></p>
    </div>
    <form action="#" th:action="@{/main}" method="get">
        <input type="submit" value="Home"/>
    </form>
    <!-- -->
        <!-- <h1>Your last scores!</h1>
        <ul id="gameList">
        </ul>
        <script>updateLists();</script> -->
    </body>
</html>