<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>History</title>
        <script>

            var last5Games = ["5-1","3-5","2-5","5-4","0-5"];

            function updateLists() {
                for(let i = 0; i<last5Games.length;i++) {
                    var x = document.createElement("LI");
                    x.append(last5Games[i]);
                    document.getElementById("gameList").append(x);
                }
            }
        </script>
    </head>
    <body>
        <h1>Your last scores!</h1>
        <ul id="gameList">
        </ul>
        <script>updateLists();</script>
    </body>
</html>