<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Main Menu</title>
    </head>
    <body>
        <form action="#" th:action="@{/settings}" method="get">
            <input type="submit" value="Settings"/>
        </form>
        <form action="#" th:action="@{/history}" method="get">
            <input type="submit" value="History"/>
        </form>
        <form action="#" th:action="@{/game}" method="get">
            <input type="submit" value="New Game"/>
        </form>
        <p th:text="${LoggedInUser.username}"></p>
    </body>
</html>
