<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Settings</title>
        <style>
            body    {background-color: powderblue;}
            button  {width:50%; margin-left:25%; margin-right:25%; padding: 15px 32px; text-align: center; font-size: 16px;}
            h3      {width:50%; margin-left:25%; margin-right:25%; text-align: center;}
        </style>
        <script>
            var playerName = "xXxKiller420xXx";
            var playerButtons = ["Takki1","Takki2","Takki3","Takki4","Takki5","b"];

            function initButtons() {
                for(let i = 0; i < playerButtons.length; i++) {
                    document.getElementById(i).innerHTML = playerButtons[i];
                }
                document.getElementById("username").innerHTML = playerName;
            }

            function updateUsername() {
                var newName = prompt("Change username to: ", playerName);
                if(newName == null || newName == ""){
                    alert("Username invalid!");
                } else {
                    playerName = newName;
                    document.getElementById("username").innerHTML = newName;
                    debug.log(playerName);
                }
            }

            function updateButtons(c){
                var newButton = prompt("Change button to: ", playerButtons[parseInt(c)]);

                if(newButton == null || newButton == "" || newButton.length > 1) {
                    alert("One Button only!");
                } else {
                    playerButtons[parseInt(c)] = newButton;
                    document.getElementById(c).innerHTML = playerButtons[parseInt(c)];
                    debug.log(playerButtons);
                }
            }
        </script>
    </head>
    <body>
        <h3>Username:</h3>
        <button type="button" id="username" onclick="updateUsername()">
            <p th:text="${LoggedInUser.username}"></p>
        </button>
        <h3>Jump:</h3>
        <button type="button" id="0" onclick="updateButtons(id)">
            Button1
        </button>
        <h3>Move Left:</h3>
        <button type="button" id="1" onclick="updateButtons(id)">
            Button2
        </button>
        <h3>Move Right:</h3>
        <button type="button" id="2" onclick="updateButtons(id)">
            Button 3
        </button>
        <h3>Crouch:</h3>
        <button type="button" id="3" onclick="updateButtons(id)">
            Button 4
        </button>
        <h3>Shoot:</h3>
        <button type="button" id="4" onclick="updateButtons(id)">
            Button 5
        </button>
        <script> initButtons(); </script>
    </body>
</html>